.container {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2em;
    height: 45rem;

    &__btn {
        background: transparent;
        border: var(--border);
        transition: background 0.2s;

        &:hover {
            background: var(--yellow-accent);
            cursor: pointer;
        }
    }

    &__draw {
        display: flex;
        flex-direction: column;
        flex-basis: 55%;
        box-sizing: border-box;

        &-image {
            margin-bottom: 1.5em;
        }

        &-preview {
            margin-top: 1em;
        }

        &-image,
        &-preview {
            border: var(--border);
            height: 100%;
            width: 100%;
            border-radius: 2.5em;
            background-size: cover;
            background-position: center;
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5em;
        }

        &-btn {
            padding: 1em 2em;
            border-radius: 10em;
        }
    }

    &__collection {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;

        &-header {
            background: var(--collection-header);
            border-radius: 2.5em 2.5em 0em 0em;
            height: 3.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border: var(--border);
            position: relative;
            z-index: 5;
        }

        &-body {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            overflow-y: auto;
            border: var(--border);
            background: var(--collection-background);
            border-radius: 2.5em;
            padding-top: 4.5em;
            padding-bottom: 2em;
            position: absolute;
            top: 0;
        }

        &-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 1em;
            align-content: flex-start;
        }

        &-image {
            position: relative;
            background-size: cover;
            background-position: center;
            border-radius: 1em;
            height: 8em;
            width: 8em;

            &-dark {
                background: #000;
                height: inherit;
                width: inherit;
                border-radius: inherit;
                opacity: 0;
                transition: opacity 0.2s, background 0.2s;
            }

            &-btn {
                visibility: hidden;
                position: absolute;
                z-index: 5;
                top: 30%;
                border-radius: 1em;
                padding: 0.7em;
                padding-bottom: 0.5em;
                opacity: 0;
                transition: visibility 0.2s, opacity 0.2s, background 0.2s;

                &--left {
                    left: 10%;
                }

                &--right {
                    right: 10%;
                }
            }

            &:hover &-btn {
                visibility: visible;
                opacity: 1;
            }

            &:hover &-dark {
                opacity: 0.6;
            }
        }
    }
}
