* {
    font-family: "Sora", sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.065em;
    margin-top: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
}

span {
    font-size: 1.125rem;
}
